<% content_for :title, '施設' %>
<%= render 'search_box' %>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>id</th>
    <th>お名前</th>
    <th>都道府県</th>
    <th>編集</th>
    <th>管理画面へ</th>
  </tr>
  </thead> 
  <% @lists.each do |list| %>
    <tbody>
      <tr>
        <th><%=list.id %></th>
        <th><%=list.name %></th>
        <th><%=list.prefecture.name %></th>
        <th><%= link_to '編集', edit_directory_path(list) %></th>
        <th><%= link_to '編集 integrate after aws', "http://pre.rirakomi.jp/admin/sso/check/#{list.id}?key=#{[*1..9, *'A'..'Z', *'a'..'z'].sample(8).join}" %></th>
      </tr>
    </tbody>
  <% end %>
</table>
<ul class="pagination">
<%= paginate @lists %>
</ul> 
